body {
	font-family: "Roboto", sans-serif;
}

.zoomcard {
	transition: transform 0.2s; /* Animation */
}

.zoomcard:hover {
	transform: scale(
		1.05
	); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fadeincard {
	animation: fadeIn 3s;
	-webkit-animation: fadeIn 3s;
	-moz-animation: fadeIn 3s;
	-o-animation: fadeIn 3s;
	-ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* BOTTON GO TO THE TOP PAGE */

#topBtn {
	display: none;
	position: fixed; /* Fixed/sticky position */
	bottom: 24px; /* Place the button at the bottom of the page */
	right: 96px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	background-color: #FFC007;
}


/* ---------- LAYOUT ---------- */

/* NAVBAR STYLES */

.text-opac-sec-timer {
	opacity: .5;
}

.social-media-icon:hover {
	opacity: .5;
}

#navbarstyle a {
	text-decoration: none;
	color: #dee2e6;
	letter-spacing: 0.50px;
}

#navbarstyle a.active {
	border-bottom: 1px solid #FFC007;
	color: #FFFFFF !important;
}

#navbarstyle a:hover {
	color: #FFFFFF !important;
}

/* PAGES HEADER STYLES */

.pages-header {
	width: 90%;
}

.custom-pages-header {
	width: 90%;
	margin: 48px auto;
}

/* ---------- LEGAL PAGES ---------- */

.legal-policies {
	margin: 48px auto;
}

/* ---------- HOME PAGE ---------- */

/* BANNER TEAMS STYLES */

.btnanchorteams {
	color: #FFD558;
}

/* CARD HOME SECTION STYLES */

.bgnfl {
	background-color: #fff;
}

/* CARD TERMS STYLES */

.bgcardnfl {
	background-color: #FFF;
	/* Shadow/lg */
	box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.cardtextnfl {
	font-weight: 300;
}

.cardtextnfl ul {
	margin-top: -16px;
}

.cardtextnfl ul ul {
	margin-top: 0;
}

/* ---------- TEAMS PAGE ---------- */

.footer-card-teams {
	color: #D9D9D9;
	font-size: 12px;
	text-decoration: none;
}

.footer-card-teams:hover {
	color: #FFFFFF;
	text-decoration: underline;
	text-underline-offset: .375em;
}

/* ---------- GLOSSARY PAGE ---------- */

.background-glossary {
	background-color: #F5F5F5;
}

.anchor-glossary {
	margin: 48px auto 118px auto;
}

.glossary-section-container {
	padding-top: 118px;
	margin-top: -70px;
	padding-bottom: 48px;
}

.glossary-section-container h2 {
	margin-top: -48px;
}

.glossary-section-title {
	padding-top: 48px;
}

.table-measure {
	max-width: 30%;
}

@media (max-width: 992px) {
	.table-measure {
		max-width: 90%;
	}
}
